html, body {
    margin: 0;
    height: 100vh;
}
body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    direction: rtl;
    background: #e8fff3;
    color: #2f6f63;
}
#header {
    width: 100%;
}
h1 {
    font-size: 4em;
    text-align: center;
}
.centered {
    text-align: center;
}
.params > div {
    font-size: 2em;
    display: inline-block;
    padding: 0 30px 25px 30px;
    text-align: center;
}
.params.extra > div {
    width: 10em;
    font-size: 1.3em;
    padding: 0 10px 25px 10px;
}
.params input {
    width: 6em;
    font-size: 1em;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #e0e0e0;
    font-family: 'Arimo', sans-serif;
}
.params.extra input {
    width: 7em;
}
#results-template {
    display: none;
}
.hide {
    display: none !important;
}
.important {
    font-weight: bold;
}
button {
    padding: 0.3em;
    background: #c6e4d3;
    color: #2f6f63;
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif;
    border: 1px solid #2f6f63;
    border-radius: 9px;
    cursor: pointer;
}
#results {
    font-size: 1.4em;
    margin-bottom: 1em;
}
.day-result > div {
    display: inline-block;
}
#notes {
    margin-top: 20px;
    margin-right: 20px;
}
